extends ./layout.pug

block header
	title #{blog.name}
	link(href=`${root}css/style.css`,rel="stylesheet")
block content
	.container
		.journalItems.clearfix
			each item,index in items
				.journalItem
					.journalItem-thumb
						a(href=`/journal/${item._id}`)
							img(src=`${item.thumb}`,alt="")
					.journalItem-info
						.journalItem-title
							a(href=`/journal/${item._id}`) #{item.title}
						.journalItem-intro
							| #{intros[index]}
						.journalItem-tags.clearfix
							each val in item.tags
								a(href=`/tag/${val}`) #{val}					
						.journalItem-date
							| #{dates[index]}
			else
				p 没有文章
		.pageNavs
			include inc/page.pug